[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
python-dotenv = "*"
ipykernel = "*"
pandas = "*"
nltk = "*"
textblob = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
